@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex items-center flex-col;
  background-color: #fff;
}

#root {
  @apply w-full;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  @apply p-4 outline-none border border-gray-300 my-1;
}
textarea {
  @apply p-4 outline-none border border-gray-300 my-1;
}

select {
  @apply outline-none border border-gray-300 w-full h-10 my-1;
}

.artCard {
  transition: all 0.5s;
  max-height: 22rem;
  /* background-color: #fff; */
}
.artCard img {
  transition: all 0.5s;
  /* transform-origin: center; */
  transform: scale(1);
}
.artwork-img {
  max-height: 80vh;
}
.artCard:hover {
}
.artCard:hover img {
  transform: scale(1.07);
}
