@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex items-center flex-col;
  background-color: #000;
}

#root {
  @apply w-full;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  @apply p-4 outline-none border border-gray-300 my-1;
}
textarea {
  @apply p-4 outline-none border border-gray-300 my-1 h-32 max-h-32;
}

select {
  @apply outline-none border border-gray-300 w-full h-10 my-1;
}

header {
  padding: 1rem 0;
}

.content {
  padding-top: 3rem;
}

.artCard {
  position: relative;
  transition: all 0.5s;
  width: 100%;
  /* max-height: 18rem; */
  /* background-color: #fff; */
}

.artCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  height: 8rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.2749693627450981) 26%,
    rgba(0, 0, 0, 0.5186668417366946) 50%,
    rgba(0, 0, 0, 0.61390493697479) 78%,
    rgba(0, 0, 0, 0.6839329481792717) 100%
  );
}
.img-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.img-area .artimg {
  width: 100%;
  height: 27rem;
  background-position: center;
  display: inline-block;
  background-size: cover;
}
.art-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: rem; */
  z-index: 10;
  text-align: left;
  padding: 3rem 0.8rem 0.8rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.2749693627450981) 26%,
    rgba(0, 0, 0, 0.5186668417366946) 50%,
    rgba(0, 0, 0, 0.61390493697479) 78%,
    rgba(0, 0, 0, 0.6839329481792717) 100%
  );
  color: #fff;
}
.art-info h3 {
  color: #cacac2;
}
.art-info p,
.art-info span {
  color: #959595;
}
.art-info .artist {
  color: #959595;
}

.art-info .liked em {
  color: #959595;
}

.img-area .artimg {
  transition: all 0.5s;
  transform: scale(1);
}
.img-area:hover .artimg {
  transform: scale(1.07);
}

header nav a.active {
  color: #5a9a1e;
  transform: scale(1.05);
  font-weight: 600;
  /* text-decoration: underline; */
}

#fvArtStyle {
  display: none;
}

.pf-icon {
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 100rem;
  font-style: normal;
  margin-right: 0.4rem;
  font-weight: 500;
  color: #9b9b9b;
}
.level_1 {
  background-color: #393939;
}
.lnb-btn {
  display: none;
}
@media (max-width: 760px) {
  header {
    position: relative;
  }
  .lnb-btn {
    display: block;
  }
  header nav#lnb {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    flex-direction: column;
    padding: 4rem 0 0 0;
    transition: all 0.2s ease-out;
  }
  header nav#lnb a {
    height: 2rem;
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
  }
  header .open nav#lnb {
    right: 0%;
    opacity: 1;
    visibility: visible;
  }

  header .open nav#lnb #userBox {
    margin-bottom: 1.2rem;
  }

  header .lnb-btn {
    position: absolute;
    top: 1.7rem;
    right: 3rem;
    z-index: 50;
  }
  header .lnb-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 2rem;
    height: 0.15rem;
    background-color: #777;
    transition: all 0.2s ease-out;
  }
  header .lnb-btn::after {
    position: absolute;
    top: 0.5rem;
    left: 0;
    content: "";
    display: inline-block;
    width: 2rem;
    height: 0.15rem;
    background-color: #777;
    transition: all 0.2s ease-out;
  }

  header .open .lnb-btn::before {
    transform: rotate(45deg) translate(12%, 50%);
  }
  header .open .lnb-btn::after {
    transform: rotate(-45deg) translate(12%, -50%);
  }

  .img-area .artimg {
    height: 20rem;
  }

  .img-area:hover .artimg {
    transform: scale(1);
  }
}
